body{
    font-family: 'Roboto', sans-serif;
}

.form-box {
    border-radius: 1rem;
    background-color: #f5f5f5;
}

.name-button{
    text-transform: capitalize;
}

.label{
    text-align: left;
}

.myError{
    font-size: 12px;
    margin: 12px 0px 12px 0px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #000000;
}

.footer h2{
    color:#fff;
}

.card-header-color {
    color: #D11212;
    font-weight:bold;
    text-align: center;
}

.card-body-color {
    background-color: #C6CCE0;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: black;
    border-radius: 0.3rem;
}

path.departamentos_SV {
    fill: #424242;
    stroke: #ffffff;
    transition: all 0.7s;
}

path.departamentos_SV:hover {
    fill: #6e6e6e;
    stroke: #0984e3;
    transition: all 0.7s;
}

nav{
    z-index: 1;
}

.mapMaxSize{
    max-width: 800px;
}
