body{
    font-family: 'Roboto', sans-serif;
}

.form-box {
    border-radius: 1rem;
    background-color: #f5f5f5;
}

.name-button{
    text-transform: capitalize;
}

.label{
    text-align: left;
}

.myError{
    font-size: 12px;
    margin: 12px 0px 12px 0px;
}

/*navbar*/

.navbar-dark .nav-item .nav-link {
    color: #fff;
  }
  
  .navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
  }
  
  .fa-li {
    position: relative;
    left: 0;
  }
